<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{#if page.attributes.use-mathjax}}
  {{#if page.attributes.latex-prelude-prefix}}
  <div style="display:none">
  \[{{page.attributes.latex-prelude-prefix}}\]
  </div>
  {{/if}}
  {{#if page.attributes.latex-prelude}}
  <div style="display:none">
  \[{{page.attributes.latex-prelude}}\]
  </div>
  {{/if}}
{{/if}}
{{{page.contents}}}
{{> pagination}}
</article>
