<footer class="footer">
  <div class="footer-info">
    <p>
      <a href="https://gitlab.com/hqurve-site">Site Source</a>
    </p>
  </div>
  <div class="footer-sep"></div>
  <div class="footer-legal">
    <p>
      The UI for this site was derived from the 
      <a href="https://gitlab.com/antora/antora-ui-default">Antora default UI</a>
      and is licensed under the MPL-2.0 license.
    </p>
  </div>
  <div class="footer-sep"></div>
  <div class="footer-thanks">
    <p>
      Authored in
      <a href="https://projects.eclipse.org/projects/asciidoc.asciidoc-lang">Asciidoc</a>
    </p>
    <p>
      Produced by
      <a href="https://antora.org">Antora</a>
      and
      <a href="https://asciidoctor.org">Asciidoctor</a>
    </p>
  </div>
</footer>
