{{!-- Add header scripts here --}}
<script>
(function () {
  function openDetails(anchor) {
    var anyOpened = false;
    for (detail of document.getElementsByTagName("details")) {
      if (detail.contains(anchor)) {
        detail.setAttribute("open", "");
      }
    }
    return anyOpened;
  }
  var old_hash = "";
  function scrollToHash () {
    let hash = location.hash.substring(1);
    if (hash != old_hash) {
      let anchor = document.getElementById(hash);
      if (anchor != null){
        openDetails(anchor);
        location.hash = "#" + hash;
      }
    }
    old_hash = hash;
  }
  window.addEventListener('hashchange', scrollToHash);
  window.addEventListener('load', scrollToHash);
})()
</script>
