<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      <div class="navbar-item spacer"></div>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!-- <a class="navbar-item" href="#">Home</a> -->
        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <!--   <a class="navbar-link" href="#">School</a> -->
        <!--   <div class="navbar-dropdown"> -->
        <!--     <a class="navbar-item" href="#">Course Notes</a> -->
        <!--   </div> -->
        <!-- </div> -->
        <div class="navbar-item">
          <span class="control">
            {{#if page.url}}
              {{#if (eq page.url page.component.url)}}
              <a class="button is-primary"
                download
                href="{{{relativize (get-component-pdf)}}}"
                filename="{{{page.component.title}}} - {{{page.componentVersion.displayVersion}}}.pdf"
                >Download PDF</a>
              {{else}}
              <a class="button is-primary"
                download
                href="{{{relativize (get-page-pdf)}}}"
                filename="{{{page.component.title}}} - {{{page.componentVersion.displayVersion}}} - {{{page.title}}}.pdf"
                >Download Page</a>
              {{/if}}
            {{/if}}
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
