    <link rel="stylesheet" href="{{{uiRootPath}}}/css/site.css">
{{#if page.attributes.use-preprocessed-katex}}
    <link rel="stylesheet" href="{{{uiRootPath}}}/vendor/katex/katex.css">
    <style>
      .stemblock {
        font-size: 85%;
      }
      .steminline {
        font-size: 85%;
        whitespace: nowrap;
      }
    </style>
{{/if}}
