footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(14 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
}

.footer p {
  margin: 0.2rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--footer-link-font-hover);
}

.footer .footer-sep {
  border-top: 1px solid var(--footer-sep-color);
  border-left: 1px solid var(--footer-sep-color);
  align-self: stretch;
}

@media screen and (min-width: 700px) {
  footer.footer {
    align-items: center;
    flex-direction: row;
  }

  .footer .footer-info {
    width: 30%;
    text-align: center;
  }

  .footer .footer-legal {
    width: 30%;
  }

  .footer .footer-thanks {
    width: 30%;
    text-align: right;
  }
}
